.feature-card {
  min-height: 390px;
 
  
}

.feature-card figure, .feature-card figure img {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}

.feature-card-title{
    font-size: 1.5rem;
    font-weight: 700;
    
}

