

.hero-wrapper{
    min-height: 80vh;
    align-content: center;
    background-image: url('../../assets/images/bg.jpg');
    background-size: cover;
}

.hero-hook{
    background-color: #ecebeb0a;
}